<!DOCTYPE html>
<html lang="en" ng-csp ng-app="zimbraNotificationsBA" ng-controller="MailCtrl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title ng-bind="ui.pageTitle"></title>
        
        <link rel="stylesheet" type="text/css" href="../css/comun.css" />
        
        <link rel="stylesheet" type="text/css" href="../lib/angular/angular-csp.css" />
        
        <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/bootstrap/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container main" role="main">
   					<div class="row">
   							<div class="col-md-12 col-xs-12">
				            <div class="alert alert-danger text-center mano" role="alert" ng-show="estado.error" ng-bind="estado.error" ng-click="ui.clickMensaje()"></div>
				            
				            <div class="alert alert-warning text-center mano" role="alert" ng-show="estado.cargando" ng-bind="ui.cargandoMessage" ng-click="ui.clickMensaje()"></div>
				            
				            <div class="alert alert-info text-center mano" role="alert" ng-show="estado.ok && !datos.mensajes.length" ng-bind="ui.noMessage" ng-click="ui.clickMensaje()"></div>
				            
				            <div class="alert alert-success text-left mano" role="alert" ng-show="estado.ok && datos.mensajes.length" ng-bind="ui.newMailNotificationMessage" ng-click="ui.clickMensaje()"></div>
            		</div>
            </div>

            <div class="row mano" ng-show="estado.ok && datos.mensajes.length" ng-click="ui.clickMensaje()">
                <div class="col-md-12 col-xs-12">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="m in datos.mensajes">
                            
                            <h4 class="list-group-item-heading" ng-bind="m.titulo"></h4> 
                            <p class="list-group-item-text"><strong><small ng-bind="m.de"></small></strong></p>
                            <p class="list-group-item-text"><small ng-bind="m.cuerpo"></small></p>
                            
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
		            <div class="col-md-4 col-xs-4">
			  	        	<button id="showHiddenButton" class="btn btn-warning btn-xs btn-block" ng-click="ui.mostrarOcultos()" ng-show="datos.hayMensajesOcultos" ng-bind="ui.btnShowHidden"></button>
		  	        </div>
            </div>

        </div>
        <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="../js/comun/constantes.js"></script>
        <script type="text/javascript" src="../js/clases/LogZimbra.js"></script>
        <script type="text/javascript" src="../js/clases/Mensaje.js"></script>
        <script type="text/javascript" src="../js/popupDefecto.js"></script>
    </body>
</html>